/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url("../images/background.webp");
    background-size: cover;
    background-position: center;
    background-size: contain;
}

main {
    /* Make main element take any additional space and push the footer down */
    flex: 1 0 auto;
}

html,
button {
    font-family: 'Exo 2', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightpink;
    height: 70px;
    padding-top: 25px;
    margin-bottom: 25px;
}

h1 {
    margin-bottom: 50px;
}

button {
    font-size: 1rem;
    margin: 15px;
    border: solid rgb(18, 54, 66);
    border-radius: 10px;
    padding: 0 20px;
}

button:hover {
    background-color: bisque;
    cursor: pointer;
}


/***********************
 *       Classes
 ***********************/

.hidden {
    display: none !important;
}

.images_container {
    height: 600px;
    width: 600px;
    background-color: rgb(194, 229, 240);
    border: solid lightgray;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
}

.cards {
    width: 80px;
    margin: 15px 5px;
    border-radius: 10px;
}

/***********************
 *       IDs
 ***********************/

/* Keep black color and remove the underline for the page header link */
#page-header {
    color: black;
    text-decoration: none;
}

/* Keep the same color as when unvisited */
#page-header:visited {
    color: black;
}

#welcome {
    align-items: flex-start;
    text-align: center;
    background-color: #f2f0f0;
    margin: auto;
    width: 70%;
    padding: 10px;
}

#welcome-section {
    display: flex;
    flex-direction: column;
}

#play-game {
    align-self: center;
    margin-bottom: 50px;
}

#difficulty {
    align-items: flex-start;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#difficulty-text {
    font-size: 1.2rem;
    background-color: #f2f0f0;
    border: solid;
    padding: 20px;
}

#easy,
#medium,
#hard {
    margin: 20px 0;
    min-width: 150px;
}

#easy-game {
    display: block;
    padding: 100px 50px 50px 100px;
    height: 450px;
    max-width: 450px;
}

#footer {
    height: 30px;
    background-color: lightpink;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#all-cards {
    display: flex;
    max-width: 300px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#game-btn-container {
    display: flex;
    justify-content: center;
}

div#footer i {
    color: black;
    margin: 0 10px;
}

@media screen and (min-width: 768px) {
    .cards {
        width: 150px;
        margin: 15px 5px;
        border-radius: 10px;
    }

    #all-cards {
        max-width: 550px;
    }
}


@media screen and (min-width: 1024px) {

    /* General styles */
    body {
        background-size: cover;
    }

    #difficulty-text {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.5rem;
    }

    .cards {
        margin: 15px;
    }
}